<a href="https://colab.research.google.com/github/wcj365/python-stats-dataviz/blob/master/fall2024/session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UMBC Data 690 Fall 2024

## Session 02

In [1]:
import pandas as pd

DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/fall2024/survey/UMBC%20DATA%20690%20FALL%202024%20DR%20WANG%20Student%20Survey.csv"

## Step 1 - Load the Survey Response Data and Explore

In [2]:
df = pd.read_csv(DATA_URL)

df.shape

(21, 13)

In [3]:
df.head()

,Timestamp,1. My primary educational background,2. My primary job function,3. My level of computer programing knowledge,4. My level of Python progrmming knowledge,5. My level of Statistics knowledge,6. My Familarity with GitHub,7. My gender,8. My Birth Year,9. What do you enjoy doing in your leisure time?,10. What do you expect to get out of this course?,11. What is your long-term career goal?,12. Other courses taking this semester
0,2024/08/18 8:33:50 PM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Male,2000,Use to do some personal projects,Data analysis with proper visuals,I want to become a developer,"HIT 664 : HEALTH IT LAW AND ETHICS , HEALTH 72..."
1,2024/08/18 8:33:54 PM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Male,2002,Playing Cricket,"To get good knowledge about statistics , data ...",Try to start my own business.,HIT 664 - Health IT Law And Ethics ; HIT 723 ...
2,2024/08/19 10:33:47 AM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Intermediate,I use GitHub regularly,Male,1997,Doing courses and leveling up my knowledge in ...,I would expect to learn statistics concepts wi...,My aim is to become a Data Engineer and Data ...,Deep Learning and LLM
3,2024/08/19 12:38:37 PM AST,"STEM (Science, Technology, Engineering, Math)",Technology/engineering-oriented,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Female,7/21/1999,Surfing google,"Get knowledge on statistics, perform data anal...",Be well suited for Data Science position,This is my last semester and is the only cours...
4,2024/08/22 3:05:13 AM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Beginner,I use GitHub regularly,Male,2000,I like to study movies,I want to be good enough in Python by the end ...,I would like see myself solving daily problems...,ENMG 659 Strategic Management and ENMG 668 Pro...

In [4]:
df.tail(2)

,Timestamp,1. My primary educational background,2. My primary job function,3. My level of computer programing knowledge,4. My level of Python progrmming knowledge,5. My level of Statistics knowledge,6. My Familarity with GitHub,7. My gender,8. My Birth Year,9. What do you enjoy doing in your leisure time?,10. What do you expect to get out of this course?,11. What is your long-term career goal?,12. Other courses taking this semester
19,2024/08/28 7:04:43 PM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Intermediate,I use GitHub regularly,Male,1997,Learning new things and upgrading myself with ...,"From this course, I expect to learn how to vie...",To become a Data Analyst,LLM and Deep Learning
20,2024/08/28 7:07:08 PM AST,"STEM (Science, Technology, Engineering, Math)",Technology/engineering-oriented,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Male,1999,Sports,A good handson experience on statistics and py...,Data analyst,Capstone in Data Science | DATA 606;Special To...

In [5]:
df.sample(3)

,Timestamp,1. My primary educational background,2. My primary job function,3. My level of computer programing knowledge,4. My level of Python progrmming knowledge,5. My level of Statistics knowledge,6. My Familarity with GitHub,7. My gender,8. My Birth Year,9. What do you enjoy doing in your leisure time?,10. What do you expect to get out of this course?,11. What is your long-term career goal?,12. Other courses taking this semester
15,2024/08/28 6:49:28 PM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Female,2000,Listening music,I want to make my knowledge like in intermedia...,I want work in google,Practical deep learning
8,2024/08/24 2:23:26 PM AST,"STEM (Science, Technology, Engineering, Math)",Business/service-oriented,Beginner,No exposure,Intermediate,I don't use GitHub,Female,1978,"Sports, reading articles on tech, science and ...",To learn pyton and proceed in data science,Continue in leadership positions in technology...,Ethical And Legal Issues in Data Science | DAT...
20,2024/08/28 7:07:08 PM AST,"STEM (Science, Technology, Engineering, Math)",Technology/engineering-oriented,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Male,1999,Sports,A good handson experience on statistics and py...,Data analyst,Capstone in Data Science | DATA 606;Special To...

## Step 2 - Explore Student Age

In [6]:
yob_list = list(df["8. My Birth Year"])
yob_list

['2000',
 '2002',
 '1997',
 '7/21/1999',
 '2000',
 '2001',
 '2000',
 '1999',
 '1978',
 '2000',
 '1999',
 '11/17/2000',
 '1998',
 '3/1/2001',
 '2001',
 '2000',
 '2002',
 '1992',
 '12/6/2001',
 '1997',
 '1999']

In [7]:
cleansed_yob_list = []  # Empty list
cleansed_yob_list       # the same as print(cleansed_yob)

[]

In [8]:
for yob in yob_list:
    cleansed_yob = yob[-4:]
    cleansed_yob_list.append(cleansed_yob)

cleansed_yob_list

['2000',
 '2002',
 '1997',
 '1999',
 '2000',
 '2001',
 '2000',
 '1999',
 '1978',
 '2000',
 '1999',
 '2000',
 '1998',
 '2001',
 '2001',
 '2000',
 '2002',
 '1992',
 '2001',
 '1997',
 '1999']

In [9]:
age_list = []

for yob in cleansed_yob_list:
    age = 2024 - int(yob)
    age_list.append(age)

age_list

[24,
 22,
 27,
 25,
 24,
 23,
 24,
 25,
 46,
 24,
 25,
 24,
 26,
 23,
 23,
 24,
 22,
 32,
 23,
 27,
 25]

In [10]:
min(age_list)

22

In [11]:
max(age_list)

46

In [12]:
total_age = 0

for age in age_list:
    total_age = total_age + age

total_age

538

In [13]:
average = total_age / len(age_list)

round(average)

26

In [14]:
total_age = 0

for age in age_list:
    if age >= 35 or age <= 22:
        print("Age", age, "is skipped")
    else:
       total_age = total_age + age

print("Total age is", total_age)

average = round(total_age / len(age_list))

print("Average is", average)

Age 22 is skipped
Age 46 is skipped
Age 22 is skipped
Total age is 448
Average is 21

In [15]:
total_age = 0

for age in age_list:
    if age >= 35 or age <= 22:
        print("Age", age, "is skipped")
#        continue

    total_age = total_age + age   # the age out of range was not skipped without the "continue"

print("Total age is", total_age)

average = round(total_age / len(age_list))

print("Average is", average)

Age 22 is skipped
Age 46 is skipped
Age 22 is skipped
Total age is 538
Average is 26

## Step 3 - Explore Educational Background

Compute the distribution of student edu background

In [16]:
edu_list = list(df["1. My primary educational background"])

edu_list

['STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'Social Science (History, Philosophy, Education, etc. )',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'Criminal Justice with some Software Engineering courses',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)',
 'STEM (Science, Technology, Engineering, Math)']

In [17]:
len(edu_list)

21

In [18]:
cleasned_edu_list = list(df['1. My primary educational background'].unique())
cleasned_edu_list

['STEM (Science, Technology, Engineering, Math)',
 'Social Science (History, Philosophy, Education, etc. )',
 'Criminal Justice with some Software Engineering courses']

In [19]:
count_edu_list = [0,0,0]
for i in range(0, len(cleasned_edu_list)):
    for edu in edu_list:
        if cleasned_edu_list[i] == edu:
            count_edu_list[i] = count_edu_list[i] +1

count_edu_list

[19, 1, 1]

In [20]:
for i in range(0, len(cleasned_edu_list)):
    print('Number of Students with Primary Education Background as', cleasned_edu_list[i], 'is', count_edu_list[i])

Number of Students with Primary Education Background as STEM (Science, Technology, Engineering, Math) is 19
Number of Students with Primary Education Background as Social Science (History, Philosophy, Education, etc. ) is 1
Number of Students with Primary Education Background as Criminal Justice with some Software Engineering courses is 1

In [21]:
for i in range(0, len(cleasned_edu_list)):
    print('Percentage of Students with Primary Education Background as', cleasned_edu_list[i], 'is', (count_edu_list[i]/ len(edu_list)))

Percentage of Students with Primary Education Background as STEM (Science, Technology, Engineering, Math) is 0.9047619047619048
Percentage of Students with Primary Education Background as Social Science (History, Philosophy, Education, etc. ) is 0.047619047619047616
Percentage of Students with Primary Education Background as Criminal Justice with some Software Engineering courses is 0.047619047619047616

## Step 4 - Explore Job Function

Compute the distribution of student job function. Summary.

In [22]:
job_list = list(df["2. My primary job function"])

job_list

['Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Technology/engineering-oriented',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Business/service-oriented',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Business/service-oriented',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Full-time Student',
 'Technology/engineering-oriented']

In [23]:
len(job_list)

21

In [24]:
cleasned_job_list = list(df['2. My primary job function'].unique())
cleasned_job_list

['Full-time Student',
 'Technology/engineering-oriented',
 'Business/service-oriented']

In [25]:
count_job_list = [0,0,0]
for i in range(0, len(cleasned_job_list)):
    for job in edu_list:
        if cleasned_job_list[i] == job:
            count_job_list[i] = count_job_list[i] +1

count_job_list

[0, 0, 0]

In [26]:
for i in range(0, len(cleasned_job_list)):
    print('Number of Students with Primary Job Function as', cleasned_job_list[i], 'is', count_job_list[i])

Number of Students with Primary Job Function as Full-time Student is 0
Number of Students with Primary Job Function as Technology/engineering-oriented is 0
Number of Students with Primary Job Function as Business/service-oriented is 0

In [27]:
for i in range(0, len(cleasned_job_list)):
    print('Percentage of Students with Primary Job Function as', cleasned_job_list[i], 'is', (count_job_list[i]/ len(job_list)))

Percentage of Students with Primary Job Function as Full-time Student is 0.0
Percentage of Students with Primary Job Function as Technology/engineering-oriented is 0.0
Percentage of Students with Primary Job Function as Business/service-oriented is 0.0

## Step 5 - Anything you re interested to find out

In [32]:
git_usage = list(df["6. My Familarity with GitHub"])

git_usage

['I use GitHub occasionally',
 'I use GitHub occasionally',
 'I use GitHub regularly',
 'I use GitHub occasionally',
 'I use GitHub regularly',
 'I use GitHub occasionally',
 'I use GitHub occasionally',
 'I use GitHub occasionally',
 "I don't use GitHub",
 'I use GitHub regularly',
 'I use GitHub occasionally',
 'I use GitHub occasionally',
 "I don't use GitHub",
 'I use GitHub occasionally',
 "I don't use GitHub",
 'I use GitHub occasionally',
 'I use GitHub occasionally',
 "I don't use GitHub",
 'I use GitHub occasionally',
 'I use GitHub regularly',
 'I use GitHub occasionally']

In [33]:
cleasned_git_info = list(df['6. My Familarity with GitHub'].unique())
cleasned_git_info

['I use GitHub occasionally', 'I use GitHub regularly', "I don't use GitHub"]

In [34]:
count_git_list = [0,0,0]
for i in range(0, len(cleasned_git_info)):
    for edu in git_usage:
        if cleasned_git_info[i] == edu:
            count_git_list[i] = count_git_list[i] +1

count_git_list

[13, 4, 4]

In [35]:
print('Number of Students with using git are', count_git_list[0] + count_git_list[1])
print('Number of Students with out using git are', count_git_list[2])

Number of Students with using git are 17
Number of Students with out using git are 4

In [37]:
print('Percentage of Students with using git are', (count_git_list[0] + count_git_list[1]) / len(git_usage))
print('Percentage of Students with out using git are', count_git_list[2]/ len(git_usage))

Percentage of Students with using git are 0.8095238095238095
Percentage of Students with out using git are 0.19047619047619047